<div>
  <p class="bold text-md text-center text-red-100 p-8 rounded-full">
    <strong
      class="bg-gradient-to-l from-amber-400 to-red-500 text-transparent bg-clip-text"
    >
      ¡Aprovecha YA Tenemos 25% de Descuento en Todos los productos! <br />
      HASTA UN 25% Dto
    </strong>
  </p>
</div>
