---
import { ZoomableImage } from './ZoomableImage';
import BannerBackground from '../assets/BannerBackground.png';
import logoInvima from '../assets/logo_invima.png';
---

<div class="pt-20">
  <div class="relative items-center">
    <div
      id="clip-bg"
      style={`
            background-image: url(${BannerBackground.src});
        `}
      class="h-[780px] md:w-full relative"
    >
      <div
        class="bg-gradient-to-r from-blue-300/30 to-sky-100/10 absolute b-0 l-0 grid grid-cols-1 md:grid-cols-2 text-slate-100 text-center items-center content-center md:my-10 my-0 lg:mx-48 mx-0"
      >
        <div class="md:p-10 p-4">
          <p class="text font-mono uppercase mb-4 md:text-left text-center">
            Distribuidor autorizado de 4Life
          </p>

          <div
            class="text-5xl font-extrabold bg-slate-100/90 md:p-4 p-2 rounded-xl"
          >
            <h1
              class="md:text-left text-center md:text-xl text-base font-extrabold bg-clip-text text-transparent bg-gradient-to-r from-blue-700 to-sky-600 uppercase"
            >
              <span class="md:text-2xl text-lg">4</span>Life Shop
            </h1>
          </div>

          <p class="mt-10 text-md text-left font-sans">
            Salud y bienestar para toda su familia con los Factores de
            Transferencia de 4Life®. Conoce todos nuestros productos con
            descuentos y beneficios incluidos.
          </p>
          <p
            class="text-yellow-100 p-2 rounded-full bg-gradient-to-r from-blue-700 to-sky-500 mt-10 md:w-64 w-48 m-auto md:mb-3 mb-1 md:text-base text-sm"
          >
            PRODUCTOS 100% ORIGINALES
          </p>
          <p
            class="rounded-full p-1 bg-gradient-to-r from-blue-700 to-sky-500 w-48 m-auto mb-3"
          >
            <svg
              class="fill-blue-100 h-10 w-10 inline"
              viewBox="0 -64 640 640"
              xmlns="http://www.w3.org/2000/svg"
              ><path
                d="M624 352h-16V243.9c0-12.7-5.1-24.9-14.1-33.9L494 110.1c-9-9-21.2-14.1-33.9-14.1H416V48c0-26.5-21.5-48-48-48H112C85.5 0 64 21.5 64 48v48H8c-4.4 0-8 3.6-8 8v16c0 4.4 3.6 8 8 8h272c4.4 0 8 3.6 8 8v16c0 4.4-3.6 8-8 8H40c-4.4 0-8 3.6-8 8v16c0 4.4 3.6 8 8 8h208c4.4 0 8 3.6 8 8v16c0 4.4-3.6 8-8 8H8c-4.4 0-8 3.6-8 8v16c0 4.4 3.6 8 8 8h208c4.4 0 8 3.6 8 8v16c0 4.4-3.6 8-8 8H64v128c0 53 43 96 96 96s96-43 96-96h128c0 53 43 96 96 96s96-43 96-96h48c8.8 0 16-7.2 16-16v-32c0-8.8-7.2-16-16-16zM160 464c-26.5 0-48-21.5-48-48s21.5-48 48-48 48 21.5 48 48-21.5 48-48 48zm320 0c-26.5 0-48-21.5-48-48s21.5-48 48-48 48 21.5 48 48-21.5 48-48 48zm80-208H416V144h44.1l99.9 99.9V256z"
              ></path></svg
            >
            Envíos Grátis
          </p>
          <img class="h-10 m-auto" src={logoInvima.src} />
        </div>
        <div class="md:mt-20 mt-0 md:w-full sm:w-3/4 w-full grid grid-cols-2">
          <object
            class="w-2/4 items-center m-auto"
            type="image/svg+xml"
            data="icon-4life-guarantee-spa.svg"></object>
          <!-- <img class="opacity-90 w-3/4 m-auto" src={tfFactor.src}> -->
          <ZoomableImage
            client:load
            width="399"
            src="envios-gratis-4life-colombia.jpg"
          />
        </div>
      </div>
    </div>
    <div
      class="bg-green-500 hover:bg-green-300 rounded-r-full pl-4 p-2 w-60 no-underline sm:block hidden"
    >
      <a
        target="_blank"
        href="https://api.whatsapp.com/send?phone=+573186676692&text=Saludos,%20necesito%20m%C3%A1s%20informaci%C3%B3n%20acerca%20de%20los%20productos%20de%204Life%E2%AD%90"
        class="text-slate-100"
      >
        <svg
          class="h-10 inline fill-white"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 448 512"
        >
          <path
            d="M380.9 97.1C339 55.1 283.2 32 223.9 32c-122.4 0-222 99.6-222 222 0 39.1 10.2 77.3 29.6 111L0 480l117.7-30.9c32.4 17.7 68.9 27 106.1 27h.1c122.3 0 224.1-99.6 224.1-222 0-59.3-25.2-115-67.1-157zm-157 341.6c-33.2 0-65.7-8.9-94-25.7l-6.7-4-69.8 18.3L72 359.2l-4.4-7c-18.5-29.4-28.2-63.3-28.2-98.2 0-101.7 82.8-184.5 184.6-184.5 49.3 0 95.6 19.2 130.4 54.1 34.8 34.9 56.2 81.2 56.1 130.5 0 101.8-84.9 184.6-186.6 184.6zm101.2-138.2c-5.5-2.8-32.8-16.2-37.9-18-5.1-1.9-8.8-2.8-12.5 2.8-3.7 5.6-14.3 18-17.6 21.8-3.2 3.7-6.5 4.2-12 1.4-32.6-16.3-54-29.1-75.5-66-5.7-9.8 5.7-9.1 16.3-30.3 1.8-3.7 .9-6.9-.5-9.7-1.4-2.8-12.5-30.1-17.1-41.2-4.5-10.8-9.1-9.3-12.5-9.5-3.2-.2-6.9-.2-10.6-.2-3.7 0-9.7 1.4-14.8 6.9-5.1 5.6-19.4 19-19.4 46.3 0 27.3 19.9 53.7 22.6 57.4 2.8 3.7 39.1 59.7 94.8 83.8 35.2 15.2 49 16.5 66.6 13.9 10.7-1.6 32.8-13.4 37.4-26.4 4.6-13 4.6-24.1 3.2-26.4-1.3-2.5-5-3.9-10.5-6.6z"
          ></path>
        </svg>
        Asesoria Whatsapp
      </a>
    </div>
  </div>
</div>

<style>
  #clip-bg {
    clip-path: polygon(0 0, 100% 0, 100% 98%, 75% 100%, 44% 95%, 0 100%);
  }
</style>
