---
import { CheckIcon } from '@heroicons/react/24/outline';

export interface Props {
  title: string;
  description: string;
  features: string[];
  image?: string;
}

const { title, image, description, features } = Astro.props;
---

<div class="bg-white py-12 sm:py-32 text-center">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl sm:text-center">
      {image ? <img src={image!} alt={image!} /> : <div />}
      <h2 class="text-xl font-bold tracking-tight text-gray-900 sm:text-2xl">
        {title}
      </h2>
      <p class="mt-6 text-md leading-8 text-gray-600">
        {description}
      </p>
    </div>
    <div
      class="mx-auto mt-16 max-w-2xl rounded-3xl ring-1 ring-gray-200 sm:mt-20 lg:mx-0 lg:flex lg:max-w-none"
    >
      <div class="p-8 sm:p-10 lg:flex-auto">
        <h3 class="text-lg md:text-md font-bold tracking-tight text-gray-900">
          ¿Sabias que si te Inscribes puedes obtener productos Totalmente
          GRATIS?
        </h3>
        <p class="mt-6 text-base leading-7 text-gray-600">
          ¡Únete al Programa de Lealtad 4Life y adquiere tus productos favoritos
          todos los meses. Además, reciba Puntos Redimibles para canjear por
          productos 4Life de tu elección!
        </p>
        <div class="mt-10 flex items-center gap-x-4">
          <h4 class="flex-none text-sm font-semibold leading-6 text-indigo-600">
            Qué Incluye
          </h4>
          <div class="h-px flex-auto bg-gray-100"></div>
        </div>
        <ul
          role="list"
          class="mt-6 grid grid-cols-1 gap-4 leading-6 text-gray-600 sm:grid-cols-2 sm:gap-6"
        >
          {
            features.map((feature) => (
              <li class="flex gap-x-3">
                <CheckIcon
                  className="h-6 w-5 flex-none text-indigo-600"
                  aria-hidden="true"
                />
                {feature}
              </li>
            ))
          }
        </ul>
      </div>
    </div>
  </div>
</div>
